/**
 * Created by sunshine(514360255@qq.com)
 * User: sunshine
 * Date: 2019/2/27
 */

@import "../../static/css/utils";

html, body{
  background: url('../../static/images/creativename_600X500.jpg') no-repeat right top;
  background-size: cover;
  img{
    width: 200px;
    height: 400px;
  }
}

.test{
  width: 200px;
  height: 200px;
  background-color: #000000;
  border: 1px solid red;
}
