/**
 * Created by sunshine(514360255@qq.com)
 * User: sunshine
 * Date: 2019/2/27
 */

@import "../../static/css/utils";

html, body{
  background: url('../../static/images/creativename_600X500.jpg') no-repeat right top;
  background-size: cover;
  img{
    width: 200px;
    height: 400px;
  }
}

.test{
  width: 26.6666vw;
  height: 26.6666vw;
  background-color: #000000;
}

.test1{
  width: 13.3333vw;
  height: 200px;
  background-color: #000000;
}

@media (max-width: 749px) {
  body{
    width: 300px;
  }
}

@media (max-width: 780px) {
  body{
    height: 300px;
  }
}
