/**
 * Created by 514360255@qq.com.
 * User: sunshine
 * Date: 2019/3/2
 * Time: 15:26
 */

@import "./utils.scss";

.problem{
  margin-bottom: pxTransRem(80);
}
.problem-list{
  width: 50%;
  padding-left: pxTransRem(20);
  padding-right: pxTransRem(20);
  box-sizing: border-box;
  margin-bottom: pxTransRem(40);
  .problem-list-img{
    text-align: center;
    img{
      width: pxTransRem(150);
      height: pxTransRem(150);
    }
  }
  h2{
    height: pxTransRem(50);
    font-size: pxTransRem(24);
    font-weight: normal;
    color: #242424;
    text-align: center;
  }
  p{
    font-size: pxTransRem(20);
    line-height: pxTransRem(30);
    color: #656565;
  }
  .problem-btn{
    width: pxTransRem(345);
    height: pxTransRem(55);
  }
}




.service{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: pxTransRem(85);
  padding-bottom: pxTransRem(110);
  background-color: #f2f2f2;
  padding-left: pxTransRem(65);
  padding-right: pxTransRem(65);
  img{
    width: pxTransRem(470);
  }
  .service-content{
    h1{
      font-size: pxTransRem(36);
      margin-bottom: pxTransRem(40);
      margin-top: pxTransRem(85);
    }
    .service-list{
      font-size: pxTransRem(20);
      line-height: pxTransRem(40);
      &:before{
        display: block;
        content: '';
        width: pxTransRem(32);
        height: 2px;
        background-color: #e70012;
        margin-bottom: pxTransRem(25);
      }
      &:first-child{
        margin-right: pxTransRem(115);
      }
    }
    a{
      width: pxTransRem(145);
      height: pxTransRem(45);
      line-height: pxTransRem(45);
      background-color: #359eff;
      display: block;
      margin-top: pxTransRem(40);
      font-size: pxTransRem(16);
      color: #fff;
      text-align: center;
      border-radius: 5px;
    }
  }
}


.advantages{
  margin-bottom: pxTransRem(96);
}

.process{
  background-color: #000;
  .module-title{
    color: #fff;
    &:after{
      background-color: #fff;
    }
  }
}