/**
 * Created by 514360255@qq.com.
 * User: sunshine
 * Date: 2019/3/2
 * Time: 16:37
 */

@import "./utils.scss";

.medium-warp{
  padding-bottom: pxTransRem(55);
  border-bottom: 1px solid #e5e5e5;
  padding-left: pxTransRem(30);
  padding-right: pxTransRem(30);
}
.medium-list{
  width: pxTransRem(213);
  height: pxTransRem(213);
  border: 1px solid #e5e5e5;
  text-align: center;
  margin-bottom: pxTransRem(25);
  transition: border-color .2s linear;
  &:not(:nth-child(3n)) {
    margin-right: pxTransRem(22);
  }
  .medium-img{
    height: pxTransRem(70);
    margin-top: pxTransRem(60);
    transition: margin-top .2s linear;
    margin-bottom: pxTransRem(10);
    img{
      position: relative;
      top: 50%;
      @include translate(Y);
    }
  }
  span{
    display: block;
    font-size: pxTransRem(16);
    color: #8e8e8e;
  }
  &:hover, .current{
    border-color: #e29937;
    .medium-img{
      margin-top: pxTransRem(30);
    }
  }
}