/**
 * Created by sunshine(514360255@qq.com)
 * User: sunshine
 * Date: 2019/3/1
 */


// 弹性布局
@mixin displayFlex() {
  display: flex;
  display: -webkit-flex;
}

// flex
@mixin flex($val) {
  @if $val == 1 {
    flex: 0 0 1;
    -webkit-flex: 0 0 1;
    -moz-flex: 0 0 1;
    -o-flex: 0 0 1;
    -ms-flex: 0 0 1;
  }@else {
    flex: 0 0 #{$val}px;
    -webkit-flex: 0 0 #{$val}px;
    -moz-flex: 0 0 #{$val}px;
    -o-flex: 0 0 #{$val}px;
    -ms-flex: 0 0 #{$val}px;
  }
}

// 水平居中
@mixin justifyContent($value: center) {
  @if $value != center {
    $value: $value
  }
  justify-content: #{$value};
  -webkit-justify-content: #{$value};
  -moz-justify-content: #{$value};
  -o-justify-content: #{$value};
  -ms-justify-content: #{$value};
}

// 垂直居中
@mixin alignItems($value: center) {
  @if $value != center {
    $value: $value
  }
  align-items: #{$value};
  -webkit-align-items: #{$value};
  -moz-align-items: #{$value};
  -o-align-items: #{$value};
  -ms-align-items: #{$value};
}

// 元素显示方向
@mixin flexDirection($value: column) {
  @if $value != column {
    $value: $value
  }
  flex-direction: #{$value};
  -webkit-flex-direction: #{$value};
  -moz-flex-direction: #{$value};
  -o-flex-direction: #{$value};
  -ms-flex-direction: #{$value};
}

// 自动换行
@mixin flexWrap($value: wrap) {
  @if $value != wrap {
    $value: $value
  }
  flex-wrap: #{$value};
  -webkit-flex-wrap: #{$value};
  -moz-flex-wrap: #{$value};
  -o-flex-wrap: #{$value};
  -ms-flex-wrap: #{$value};
}

// 垂直水平居中
@mixin translate($direction: null) {
  @if $direction == null {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }@else if $direction == X {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }@else if $direction == Y {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}

// px 转换成 rem
@function pxTransRem($value) {
  @return #{$value / 100}rem;
}
